  /*card design*/
  .card {

  background-color: #fffefd;
  margin-bottom:14px;
  padding:14px;
  border-radius: 20px;
  box-shadow: 0 10px 10px #ffe7a4; /* Box yellow fade shodow on box sides except top */
  }

  /*Flex elements inside the card body*/
  .card-body{
  display: flex;
  padding: 14px;
  }

  /*Card Heading*/
  .card-header{
  font-size: 1.17em; 
  font-weight:bold;
  }

  /*horizontal line color*/
  hr{
  border-bottom: 1px solid #ffa6a6;
  }