/* marging auto */
.ma-1{
	margin: 4px;
}
.ma-2{
	margin: 8px;
}
.ma-3{
	margin: 16px;
}
.ma-2-5{
	margin: 14px;
}
/* padding auto */
.pa-1{
	padding: 4px;
}
.pa-2{
	padding: 8px;
}
.pa-3{
	padding: 16px;
}
.primary-shadow{
	box-shadow: 0 10px 10px rgba(36, 36, 36, 0.2);
-webkit-box-shadow: 0 10px 10px rgba(36, 36, 36, 0.2);
-moz-box-shadow: 0 10px 10px rgba(36, 36, 36, 0.2);
}
.rounded-sm{
	border-radius: 5px;
}
.rounded-md{
	border-radius: 5px;
}
.news{
    display:flex;
}