/*If not specified font color is set to black and font family sans*/
body{
  color: #000000;  
  font-family:sans-serif;
}
/*Card design */
.card {
  display: flex; /*flex items that belongs to card class*/
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

/*Card Content*/
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
/*elements with center class*/
.center {
    width:200px;
    padding:20px;
    border-radius:10px;
  }
  /*Form Elements*/
  .form .form-element {
    margin-bottom:15px;
  }
  /*Form Label*/
  .form .form-element label {
    font-size:14px;
    color:#111;
  }
  /*Form Input*/
  .form .form-element input {
    width:100%;
    display:block;
    padding:10px;
    margin-top:5px;
  }

  /*QR code container*/
  .qr-img {
    margin-top:10px;
    width:300px;
    height: 300px;
  }

  /*QR code image*/
  .qr-img img {
    width: 100%;
    
  }
/*Booking Modal Content*/
.booking{
  background-color: #f1f0f0	;
	text-align: center;
  width: 40%;
  box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 30%;
	right : 50%;
  background-color: #DCDCDC	;
	line-height: normal;
}

/*Booking modal*/
.booking-modal{
  display: none;
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  position: fixed;
  z-index: 1000;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
#vaccine-card{
  display:flex;
	flex-wrap: wrap;
  justify-content: space-between;
}