
/*Flex cards under row class*/
.row{
    display: flex;
    padding:1px 16px;
    margin-top:6%;
  }
  /*Modal Box*/
  .login-modal-div{
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    position: fixed;
    z-index: 1000;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .login-modal-div{
    display: none;
}

/*Register Modal*/
.register{
	padding-left:14px;
  width: 50%;
  box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 0.3);
	margin: 100px auto;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 30%;
	right : 50%;
  background-color: #DCDCDC	;
	line-height: normal;
}

/*Login Modal*/
.login {
  background-color: #DCDCDC	;
	 text-align: center;
  	width: 40%;
  	box-shadow: 9px 9px 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    z-index: 10;
    top: 0;
    left: 35%;
    right : 50%;
    padding:14px;
}

/*Image at the top of a card*/
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}